%tr[armada]
  %td=h armada.name
  %td=h armada.creator
  %td=h armada.cost
  %td= armada.created_at.to_s(:short)
  %td
    = link_to image_tag('icon_small_show.png'), armada
    = link_to image_tag('icon_small_edit.png'), edit_armada_path(armada)
    = link_to image_tag('icon_small_delete.png'), armada, :confirm => 'Are you sure?', :method => :delete