- content_for :title do
  Members Home


%h2 Member Home
#main
  %p This is the members interface for the Space Armada application.
  %p This system allows you to create space armadas composed of specific components such as shields, fighters and puppies.
