- content_for :title do
  Administration Home


%h2 Administration Home
#main
  %p This is the administration interface for the Space Armada application.
  %p This system allows you to assemble armadas from components that exist on external applications, such as shields, cruisers, fighters and puppies.
