%h2 TODO
%p Find me in app/views/application/show.html.haml

<object type="application/x-shockwave-flash" data="http://www.parisdjs.com/blog/share/podcast/dewplayer.swf?mp3=http://media.libsyn.com/media/timec/George_Clinton-U_Aint_Runnin_Shit_Grant_Phabao_Skank.mp3&amp;showtime=1" height="20" width="200"><param name="wmode" value="transparent" /><param name="movie" value="http://www.parisdjs.com/blog/share/podcast/dewplayer.swf?mp3=http://media.libsyn.com/media/timec/George_Clinton-U_Aint_Runnin_Shit_Grant_Phabao_Skank.mp3&amp;showtime=1" /></object>